$primary: #ff4646;
$staticWhite: #ffffff;
$tagPurple: #4361ff;
$contentBackground: #ecf3f8;

$primary10: #ff46461a;
$staticWhite40: #ffffff66;
$tagPink: #ff43f7;
$overlay: #181c29cc;

$dark: #181c29;
$staticWhite20: #ffffff33;
$tagGreen: #06a44f;
